* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#desktop {
  height: 100%;
  display: grid;
  grid-template-rows: 25px auto 50px;
  grid-template-areas:  "header"
                        "surface"
                        "dock";
}

#header {
  grid-area: header;
  background-color: rgb(5, 5, 146);
}

#surface {
  grid-area: surface;
}

#dockcontainer {
  grid-area: dock;
}
