* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#desktop {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto 51px;
  grid-template-areas:  "header"
                        "surface"
                        "dock";
}

#headercontainer {
  grid-area: header;
}

#surface {
  grid-area: surface;
}

#dockcontainer {
  grid-area: dock;
}
