* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#window {
  position: absolute;
  background-color: rgb(245, 247, 248);
  left: 0px;
  top: 0px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.maximized {
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.minimized {
  display: none !important;
}

#header {
  height:25px;
  width: 100%;
  background-color: rgb(5, 5, 146);
  display: grid;
  grid-template-columns: auto 75px;
  grid-template-areas: "title icons";
  border: 1px solid black;

}

#title {
  grid-area: "title";
  color: white;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#icons {
  grid-area: "icons";
  color: white;
  display: inline;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.button-6 {
  width: 25px;
  font-weight: 800;
  margin-right: 5px;
  margin-top:2px;
  margin-bottom: 2px;
  border: 1px solid black;
  font-size: 14px;
}
