* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dock {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: rgb(110, 110, 110);
  display: grid;
  grid-template-columns: max-content auto max-content;
  border-top: 1px solid black;

}

#antenna {
  padding: 10px;
}

#buttons {
  border-right: 2px solid black;
  padding-right: 5px;
}


#buttons button {
  height: 50px;
  width: 50px;
  margin-left:5px;
}

#minis {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#minis button {
  margin: 5px;
  height: 40px;
  flex: 0 1 250px;
}