<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Omnissiahs tarot</title>
  <link rel="stylesheet" href="css/common.css">
  <script type="module" src="./js/index.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <p class="line"></p>
    <div class="topline">
      <p>++ Connected ++</p>
      <p>Dataloom : XIVI</p>
      <p>Planet : Holy Terra</p>
      <p>Schoolarium : Linnéuniversitetet</p>
      <p>++ Cogitator 01 ++</p>
    </div>
    <p class="line"></p>
  </header>

  <main>
    <p class="hidden" id="unSupportedInfo">
      Im sorry to inform you, the browser you are currently using is to old to support this application. Please update your browser.<br>
      If not for the sake of this application, do it to secure your device.
    </p>

    <canvas id="surface" class=""></canvas>
    <div class="buttons">
      <button class="command" id="cardOfTheDay">Card of the day</button>
      <button class="command" id="threeCardSpread">Three Card Spread</button>
      <button class="command" id="exit">Credits</button>
    </div>
  </main>

  <footer>
    <p class="line"></p>
    <div class="topline">
      <p>01001111</p>
      <p>01101101</p>
      <p>01101110</p>
      <p>01101001</p>
      <p>01110011</p>
      <p>01110011</p>
      <p>01101001</p>
      <p>01100001</p>
      <p>01101000</p>
      <p>00100000</p>
    </div>
    <div class="topline">
      <p>01100010</p>
      <p>01100101</p>
      <p>00100000</p>
      <p>01110000</p>
      <p>01110010</p>
      <p>01100001</p>
      <p>01101001</p>
      <p>01110011</p>
      <p>01100101</p>
      <p>00100001</p>
    </div>
    <p class="line"></p>
  </footer>
  <div class="cardImages hidden">
    <img src="./images/cog.png" id="cog" alt="cog">
    <img src="./images/rod.png" id="rod" alt="rod">
    <img src="./images/sharp.png" id="sharp" alt="sharp">
    <img src="./images/swords.png" id="sword" alt="sword">
    <img src="./images/machinecult.png" id="center" alt="">
  </div>
</body>
</html>
